<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>
		<h1><%= noticia[0].titulo %></h1>

		<table>
			<thead>
				<th>ID</th>
				<th>Titulo</th>
				<th>Noticia</th>
			</thead>
			<tbody>
				<td><%= noticia[0].id_noticia %></td>
				<td><%= noticia[0].titulo %></td>
				<td><%= noticia[0].noticia %></td>
			</tbody>
		</table>
	

	</body>
</html>